.game-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.8s;
}

.game-window {
    position: relative;
    z-index: 1;
    background: #dedbfb;
    border: solid rgb(80, 80, 80) 3px;
    border-radius: 10px;
    height: 76%;
    width: 85%;
    box-shadow: 0 10px 15px rgb(0, 0, 0, .25);
}


.game-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
    z-index: 0;
}

.description{
    padding-left: 10% ;
    padding-right: 10%;
    padding-top: 20%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.description-close {
    position: absolute;
    right: 20px;
    bottom: 20px;
    opacity: 0.70;
}

.game {
    background: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.green {
    background: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.reaction-result {
    position: relative;
    display: block;
}